<h1><%= @post.title %></h1>

<p><%= @post.body %></p>

<% if current_user.id == @post.user_id %>
  <%= link_to "編集する", edit_post_path(@post) %>
  <%= button_to "削除する", post_path(@post), method: :delete, form: { data: { turbo_confirm: "Are you sure?" } } %>
<% end %>